@font-face {
  font-family: ProximaNovaRegular;
  src: url(../../../fonts/ProximaNova-Regular.otf);
}
@font-face {
  font-family: ProximaNovaBold;
  src: url(../../../fonts/ProximaNova-Bold.otf);
}
@font-face {
  font-family: ProximaNovaSemibold;
  src: url(../../../fonts/ProximaNova-Semibold.otf);
}


.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}