.nav-img{
  height: 250px;
  width: 100%;
}

.outer-ctn{
  display: flex;
  flex-flow: row-reverse;
}
@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
     { 
      .outer-ctn{
        display: flex;
        flex-flow: column-reverse;
        width: 414px;
      }
    }
    @media only screen 
    and (max-width : 750px) 
     { 
      .outer-ctn{
        display: flex;
        flex-flow: column-reverse;
        width: 100%;
      }
    }