.nav-img{
  height: 150px;
  width: 100%;
}
/* .create-acc-ctn{
  margin-left: 65%;
  width: 50%;
}
.form-ctn{
} */
.outer-ctn{
  display: flex;
  flex-flow: row-reverse;
}
@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) { 
      .outer-ctn{
        display: flex;
        flex-flow: column-reverse;
        width: 414px;
      }
    }