@font-face {
  font-family: ProximaNovaRegular;
  src: url(../../../fonts/ProximaNova-Regular.otf);
}

.nav-user-image{
  border-radius: 25px;
  height: 50px;
  width: 50px;
}

.sign-in-nav{
  text-decoration: none;
  color: black;
  font-size: 16px !important;
}