.meditation-container {
  display:flex;
  margin-top: 50px;
}

.meditation-image {
  display: flex;
  margin: 50px auto 0px auto;
  width: 100px;
  height: 100px;
}

.meditation-title {
  font-size: 16px;
  text-align: center;
  margin-top: 25px;
}


.apps-container {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  justify-content: center;
  margin: 50px auto;
}

.app-container{
  display: flex;
  flex-flow: column;
  font-size: 20px;
  width: 200px;
  align-items: center;
  margin: 25px;
}

.apps-images{
max-width: 65px;
height: 65px;
}

.this-should-work {
  width: 200px;
  background-color: #3B7D68;
  border-radius: 20px;
  color: white;
  border: none;
  margin-top: 30px;
}