.sign-in-ctn{
  display: flex;
  justify-content: center;
  /* border-right: 3px solid black; */
  width: 50%;
  margin-top: 15px;
  margin-bottom: 50px;
}

.inner-ctn{
 width: 75%;
 border-right: 3px solid black;
 margin-left: 50px;
}
.user-sign{
width: 900px;
height: 200px;
}
.input-ctn{
  height: 150px;

}
.form-input{
  border: 1px solid rgb(16, 202, 143);
}
.sign-in{
  font-size: 24px;
  width: 250px;
  margin: 0 auto 0 90px;
  padding-bottom: 35px;
}
.sign-btn{
  width: 280px;
  height: 40px;
  font-size: 20px;
  color: white;
  border-radius: 25px;
  border : 1px solid rgb( 177, 75, 190);
  background-color: rgb( 177, 75, 190); 
  margin: 5px 0 0 12px;
}
