.sign-in-ctn{
  display: flex;
  justify-content: center;
  /* border-right: 3px solid black; */
  width: 50%;
  margin-top: 15px;
  margin-bottom: 50px;
}

.inner-ctn{
 width: 75%;
 border-right: 3px solid black;
 margin-left: 50px;
}
.user-sign{
width: 900px;
height: 200px;
}
.input-ctn{
  height: 150px;

}
.form-input{
  border: 1px solid #8FC8B3;
  width: 250px;
}
.sign-in{
  font-size: 24px;
  width: 250px;
  margin: 0 auto;
  padding-bottom: 35px;
}
.sign-btn{
  width: 250px;
  height: 40px;
  font-size: 20px;
  color: white;
  border-radius: 25px;
  border : 1px solid rgb( 177, 75, 190);
  background-color: rgb( 177, 75, 190); 
  margin: 5px 0 0 12px;
}
.sign-btn:focus{
  outline: none;
}

@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) { 
      .sign-in-ctn{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
      }
      .sign-in{
        font-size: 24px;
        margin: 0 auto;
        padding-bottom: 35px;
      }
      .user-sign{
        width: auto;
        height: 200px;
        
        }
      .inner-ctn{
        width: 100%;
        border-right: none;
        margin: 0 ;
       }
       .input-ctn{
        height: 150px;
        align-items: center;
        width: 300px;
      }
       .form-input{
        width: 200px;
      }
      .sign-btn{
        margin-left: 87px;
        width: 210px;
      }
    }