.main { 
  background: url('https://i.imgur.com/SHDjp9B.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
}
.justify-content-center{
  background-color: aquamarine;
}
.home-ctn{
  border: 1px solid grey;
  border-radius: 20px;
  background-color: rgba(243, 241, 241, 0.74);
  height: 300px;
  width: 500px;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 75px;
}
p{
  font-size: 24px;
}
