.main { 
  background: url('https://images.unsplash.com/photo-1528477143311-90ab92e624f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
}
.justify-content-center{
  background-color: aquamarine;
}